li {
  list-style:none;
}


#wrap {
  width: 1920px;
  height: 4520px;
  margin: 0 auto;
  overflow: hidden;
}

.sub3-1 {
  height:1080px;
  background-color:#FFFCF5;
}

.sub3-bk {
  position:relative;
  width:1486px;
  height:836px;
  background-image:url(img/experience/Group\ 40.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  top:5%;
  margin-left:11%;
}

.img1-flower {
  position:absolute;
  left:-2%;
}

.img2-flower {
  position:absolute;
  top:-7%;
  left:10%;
}

.img3-flower {
  position:absolute;
  top:9%;
  right:-14%;
}

.img4-flower {
  position:absolute;
  top:43%;
  right:-14%;
}


.img5-flower {
  position: absolute;
  top:46.3%;
  right:-14%;
}


/* 두번째 */

.sub3-2 {
  height:217px;
  background-color:#FFC225;
}

.sub3-2_text {
  padding:75px;
  text-align:center;
  font-size:20px;
  color:#fff;
  font-family: "S-CoreDream-5Medium";
}

/* 세번째 */

.sub3-3 {
  height:1080px;
  background-image:url(https://i.postimg.cc/SsWJ9Xsg/EXPERIENCE.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.sub3-3_text {
  position:relative;
  padding-top:10%;
  left:10%;
}


.sub3-3_text > h2 {
  font-size:15px;
  color:#737373;
  font-weight:500;
}

.sub3-3_text1 {
  font-size:30px;
  color:#737373;
  font-weight:700;
}

.sub3-3_text2 {
  font-size:16px;
  color:#737373;
  font-weight:500;
}


.sub3-3_img {
  display:flex;
  width:752px;
  height:383px;
  margin-top:2%;
  margin-left:10.3%;
}

.sub3-3_img > .img-3_1 {
  width:270px;
  height:auto;
}

.sub3-3_img > .img-3_2 {
  width:472px;
  height:312px;
}

.sub3-3_menu {
  position:relative;
  width:622px;
  height:781px;
  float:right;
  margin-top:-35.5%;
  margin-right:11.5%;
}

.sub3-3_menu > img {
  display:block;
  pointer-events: none;
  transition: opacity 0.3as;
  top:0;
}

.sub3-3_menu > img:last-child {
  position:absolute;
  opacity:0;
}

.sub3-3_menu:hover > img:first-child {
  position:absolute;
  opacity:0;
}

.sub3-3_menu:hover > img:last-child {
  position:static;
  opacity:1;
  transition:1s;
}

/* 네번째 */

.sub3-4 {
  position:relative;
  height:1080px;
}

.sub3-4_text {
  position:absolute;
  top:15%;
  left:10%;
}


.sub3-4_text > h2 {
  font-size:15px;
  color:#737373;
  font-weight:500;
}

.sub3-4_text1 {
  font-size:30px;
  color:#737373;
  font-weight:700;
}

.sub3-4_text2 {
  font-size:16px;
  color:#737373;
  font-weight:500;
}

.sub3-4_img {
  display:flex;
  padding-top:23%;
  margin-left:11%;
}

.sub3-4_img1 {
  width:103px;
  height:144px;
}

.sub3-4_img2 {
  width:207px;
  height:144px;
}


.sub3-4_img3 {
  width:450px;
  height:190px;
  margin-left:11%;
}

.img3-4_menu {
  width:1006px;
  height:726px;
  float:right;
}

.sub3-4_mockup {
  height:684px;
  margin-top:-65%;
  margin-right:10%;
}

.sub3-4_mockup1 {
  width:522px;
  height:296px;
  margin-top:-25%;
  margin-left:40%;
}

/* 다섯번째 */

.sub3-5 {
  position:relative;
  height:1080px;
}

.sub3-5_text {
  position:absolute;
  top:15%;
  left:10%;
}


.sub3-5_text > h2 {
  font-size:15px;
  color:#737373;
  font-weight:500;
}

.sub3-5_text1 {
  font-size:30px;
  color:#737373;
  font-weight:700;
}

.sub3-5_text2 {
  font-size:16px;
  color:#737373;
  font-weight:500;
}



.sub3-5_ko {
  position:absolute;
  top:10%;
  left:50%;
  z-index:1;
}


.sub3-5_ko1 {
  position:absolute;
  left:65%;
}

.Strawberry {
  position:absolute;
  top:55%;
  left:75%;
  
}

/* 다음페이지 이동 */

a {
  text-decoration:none;
  color:inherit;
}

.cta1 {
  top:90%;
  left:35%;
  position:absolute;
  margin:auto;
  padding:19px 22px;
  z-index:1;
  transition:all 0.3s ease;
  color:#0D2B3E;
}

.cta2 {
  top:90%;
  left:55%;
  position:absolute;
  margin:auto;
  padding:19px 22px;
  z-index:1;
  transition:all 0.3s ease;
  color:#0D2B3E;
}

.cta1:hover {
  color:#fff;
}

.cta1 span {
  position:relative;
  font-size:16px;
  line-height:18px;
  font-weight:900;
  letter-spacing:0.25em;
  text-transform:uppercase;
  vertical-align:middle;
}

.cta2 span {
  position:relative;
  font-size:16px;
  line-height:18px;
  font-weight:900;
  letter-spacing:0.25em;
  text-transform:uppercase;
  vertical-align:middle;
}

.cta1::before {
  content:"";
  position:absolute;
  top:5px;
  left:-10px;
  display:block;
  border-radius:28px;
  background:#F2D4C1;
  width:56px;
  height:56px;
  transition: all 0.3s ease;
}

.cta2::before {
  content:"";
  position:absolute;
  top:5px;
  left:-10px;
  display:block;
  border-radius:28px;
  background:#F2D4C1;
  width:56px;
  height:56px;
  transition: all 0.3s ease;
}

.cta2:hover {
  color:#fff;
}

.cta1:hover::before {
  width:100%;
  background: linear-gradient(to right,  #0D2B3E, #F2D4C1);
}

.cta2:hover::before {
  width:100%;
  background: linear-gradient(to right,  #0D2B3E, #F2D4C1);
}

/* 다음페이지 이동 끝 */


/* 우측버튼 */

/* 우측하단 버튼 */
.floating-menu {
  right:48px;
  bottom:48px;
  transition: 0.5s;
}

.plus-link {
  width:70px;
  height:70px;
  border-radius:50%;
  background-image:url(https://cdn.discordapp.com/attachments/841978793568763914/884702482524151838/7064ebb8a7b6c730.png);
  background-color:#0D2B3E;
  background-repeat:no-repeat;
  background-size:initial;
  background-position:center;
  cursor:pointer;
  transition:transform 0.5s;
  box-sizing:border-box;
  right:5%;
  bottom:20px;
}

.plus-link.active {
  background-image:none;
}

.plus-link.active::before,
.plus-link.active::after {
  background-color:white;
}

.plus-link::before,
.plus-link::after {
  content:"";
  background-color:none;
  position:absolute;
  top:48%;
  left:23%;
  width:55%;
  height:8%;
  transform:rotate(135deg);
  transition:background 0.3s;
}

.plus-link::after {
  transform:rotate(225deg);
}

.floating-list {
  z-index:150;
  width:210px;
}

.floating-linker.chat > a > span > i {
  font-size:1.3rem;
  float:right;
  margin-top:4px;
  margin-left:auto;
  margin-right:-40px;
  padding-left:5px;
}

.floating-linker {
  width:100%!important;
  height:100%!important;
}

.floating-linker a {
  display:block;
  min-width:170px;
  padding:14px 28px 14px 28px;
  border:1px solid #fff;
  border-radius:28px;
  box-shadow:0 4px 11px 0 rgb(0 0 0 / 15%);
  background:#fff no-repeat right 16px center;
  text-align:center;
}

.floating-linker .text {
  font-weight:800;
  font-size:16px;
  line-height:26px;

}

.floating-linker .text:hover {
  background:linear-gradient(to right,  #0D2B3E, #F2D4C1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.floating-list .floating-linker:not(:first-child) {
  margin-top:10px;
}

.main-wrap .section {
  max-width:1460px;
  margin:120px auto 0;
  padding:0 40px;
}

.btn-inner {
  right:10%;
  bottom:140%;
}

.btn-inner.active {
  display:block;
}
/* 우측 하단 버튼 끝 */

/* 화살표 */
.down-click {
  position: fixed;
  font-size: 2rem;
  animation-name: click;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: 0;
  opacity: 1;
  right:67px;
  bottom:65px;
  visibility:visible;
  color:#0D2B3E;
}

@keyframes click {

  0% {
    top: 82%;
    animation-timing-function: ease-out;
    opacity: 1;
  }

  50% {
    top: 78%;
    animation-timing-function: ease-in;
    opacity: 1;
  }

  100% {
    top: 82%;
    animation-timing-function: ease-out;
    opacity: 1;
  }

}

.down-click.active {
  opacity:0;
  visibility:hidden;
}
/* 화살표 끝 */