@font-face {
  font-family: "S-CoreDream-9Black";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

html {
  font-family: "S-CoreDream-9Black";
  font-family: "Oswald", sans-serif;
}


li {
  list-style:none;
}


#wrap {
  width: 1920px;
  height: 7400px;
  margin: 0 auto;
  overflow: hidden;
}

.sub4-1 {
  position:relative;
  height:1080px;
  background-color:#FFFCF5;
}

.sub4-1-img1 {
  position:absolute;
  top:17%;
}

.sub4-1-img2 {
  position:absolute;
  top:12%;
  left:24%;
}

.sub4-1-img3 {
  position:absolute;
  top:17%;
  left:76%;
}

/* 두번째 */
.sub4-2 {
  position:relative;
  height:217px;
  background-color:#0D2B3E;
  display:flex;
}

.sub4-2-minutext {
  position:absolute;
  font-size:40px;
  font-weight:bold;
  color:#fff;
  top:35%;
  left:15%;
}

.sub4-2_p {
  position:absolute;
  font-size:20px;
  font-weight:500;
  color:#fff;
  top:35%;
  left:33%;
}

/* 세번째 */
.sub4-3 {
  position:relative;
  height:1080px;
}

.sub4-3 > img {
  position:absolute;
  top:25%;
}

.Planning {
  position:absolute;
  left:10%;
}

.Design {
  position:absolute;
  left:32%;
}

.HtmlCss {
  position:absolute;
  left:54%;
}

.Develop {
  position:absolute;
  left:75%;
}

/* 네번째 */
.sub4-4 {
  position:relative;
  height:745px;
}
.sub4-4-text {
  position:absolute;
  top:27%;
  left:10%;
}

.sub4-4-texth2 {
  font-weight:700;
  font-size:23px;
  color:#D8D8D8;
}

.sub4-4-texth5 {
  font-family: "S-CoreDream-9Black";
  font-size:40px;
  color:#FFC225;
}

.sub4-4_img1 {
  position:absolute;
  top:19%;
  left:35%;
}

.sub4-4_img2 {
  position:absolute;
  top:19%;
  left:55%;
}

.sub4-4_img3 {
  position:absolute;
  top:19%;
  left:75%;
}

/* 다섯번째 */

.sub4-5 {
  position:relative;
  height:1080px;
}


.maintext1 {
  font-family: "S-CoreDream-9Black";
  font-size:40px;
  color:#737373;
  margin-top:6%;
  margin-left:20%;
}

.maintext2 {
  font-size:20px;
  color:#737373;
  margin-top:15px;
  margin-left:20%;
}

.mainimg {
  position:absolute;
  top:30%;
  left:21.5%;
}


/* 여섯번째 */
.sub4-6 {
  position:relative;
  height:1080px;
}

.sub4-6-img1 {
  position:absolute;
  top:20%;
  left:45%;

}
.sub4-6-img2 {
  position:absolute;
  top:20%;
}

.sub4-6-textt {
  margin-right:6%;
}

.sub4-6-text1 {
  margin-top:45%;
  font-size:40px;
  font-family: "S-CoreDream-9Black";
  color:#737373;
  float:right;
}

.sub4-6-text2 {
  padding-top:49%;
  font-size:20px;
  color:#737373;
  font-weight:500;
  text-align:right;
}

/* 일곱번째 */

.sub4-7 {
  position:relative;
  height:1080px;
}

.sub4-7-1 {
  position:absolute;
  top:18%;
  left:10%;
}


.sub4-7-2 {
  position:absolute;
  top:18%;
  left:60%;
}

.sub4-7-textt {
  padding-left:10%;
}

.sub4-7-text1 {
  padding-top:45%;
  font-size:40px;
  font-family: "S-CoreDream-9Black";
  color:#737373;
}

.sub4-7-text2 {
  margin-top:10px;
  font-size:20px;
  color:#737373;
  font-weight:500;
}

/* 여덟번째 */
.sub4-8 {
  position:relative;
  height:1080px;
}

.sub4-8-img1 {
  position:absolute;
  left:40%;
}


.sub4-8-textt {
  margin-top:5%;
}

.sub4-8-text1 {
  float:right;
  margin-right:12%;
  font-size:40px;
  font-family: "S-CoreDream-9Black";
  color:#737373;
}

.sub4-8-text2 {
  padding-top:4%;
  margin-right:12%;
  text-align:right;
}


/* 다음페이지 이동 */

a {
  text-decoration:none;
  color:inherit;
}

.cta1 {
  top:75%;
  left:35%;
  position:absolute;
  margin:auto;
  padding:19px 22px;
  z-index:1;
  transition:all 0.3s ease;
  color:#0D2B3E;
}

.cta2 {
  top:75%;
  left:55%;
  position:absolute;
  margin:auto;
  padding:19px 22px;
  z-index:1;
  transition:all 0.3s ease;
  color:#0D2B3E;
}

.cta1:hover {
  color:#fff;
}

.cta1 span {
  position:relative;
  font-size:16px;
  line-height:18px;
  font-weight:900;
  letter-spacing:0.25em;
  text-transform:uppercase;
  vertical-align:middle;
}

.cta2 span {
  position:relative;
  font-size:16px;
  line-height:18px;
  font-weight:900;
  letter-spacing:0.25em;
  text-transform:uppercase;
  vertical-align:middle;
}

.cta1::before {
  content:"";
  position:absolute;
  top:5px;
  left:-10px;
  display:block;
  border-radius:28px;
  background:#F2D4C1;
  width:56px;
  height:56px;
  transition: all 0.3s ease;
}

.cta2::before {
  content:"";
  position:absolute;
  top:5px;
  left:-10px;
  display:block;
  border-radius:28px;
  background:#F2D4C1;
  width:56px;
  height:56px;
  transition: all 0.3s ease;
}

.cta2:hover {
  color:#fff;
}

.cta1:hover::before {
  width:100%;
  background: linear-gradient(to right,  #0D2B3E, #F2D4C1);
}

.cta2:hover::before {
  width:90%;
  background: linear-gradient(to right,  #0D2B3E, #F2D4C1);
}
/* 다음페이지 이동 끝 */


/* 우측버튼 */

/* 우측하단 버튼 */
.floating-menu {
  right:48px;
  bottom:48px;
  transition: 0.5s;
}

.plus-link {
  width:70px;
  height:70px;
  border-radius:50%;
  background-image:url(https://cdn.discordapp.com/attachments/841978793568763914/884702482524151838/7064ebb8a7b6c730.png);
  background-color:#0D2B3E;
  background-repeat:no-repeat;
  background-size:initial;
  background-position:center;
  cursor:pointer;
  transition:transform 0.5s;
  box-sizing:border-box;
  right:5%;
  bottom:20px;
}

.plus-link.active {
  background-image:none;
}

.plus-link.active::before,
.plus-link.active::after {
  background-color:white;
}

.plus-link::before,
.plus-link::after {
  content:"";
  background-color:none;
  position:absolute;
  top:48%;
  left:23%;
  width:55%;
  height:8%;
  transform:rotate(135deg);
  transition:background 0.3s;
}

.plus-link::after {
  transform:rotate(225deg);
}

.floating-list {
  z-index:150;
  width:210px;
}

.floating-linker.chat > a > span > i {
  font-size:1.3rem;
  float:right;
  margin-top:4px;
  margin-left:auto;
  margin-right:-40px;
  padding-left:5px;
}

.floating-linker {
  width:100%!important;
  height:100%!important;
}

.floating-linker a {
  display:block;
  min-width:170px;
  padding:14px 28px 14px 28px;
  border:1px solid #fff;
  border-radius:28px;
  box-shadow:0 4px 11px 0 rgb(0 0 0 / 15%);
  background:#fff no-repeat right 16px center;
  text-align:center;
}

.floating-linker .text {
  font-weight:800;
  font-size:16px;
  line-height:26px;

}

.floating-linker .text:hover {
  background:linear-gradient(to right,  #0D2B3E, #F2D4C1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.floating-list .floating-linker:not(:first-child) {
  margin-top:10px;
}

.main-wrap .section {
  max-width:1460px;
  margin:120px auto 0;
  padding:0 40px;
}

.btn-inner {
  right:10%;
  bottom:140%;
}

.btn-inner.active {
  display:block;
}
/* 우측 하단 버튼 끝 */

/* 화살표 */
.down-click {
  position: fixed;
  font-size: 2rem;
  animation-name: click;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: 0;
  opacity: 1;
  right:67px;
  bottom:65px;
  visibility:visible;
  color:#0D2B3E;
}

@keyframes click {

  0% {
    top: 82%;
    animation-timing-function: ease-out;
    opacity: 1;
  }

  50% {
    top: 78%;
    animation-timing-function: ease-in;
    opacity: 1;
  }

  100% {
    top: 82%;
    animation-timing-function: ease-out;
    opacity: 1;
  }

}

.down-click.active {
  opacity:0;
  visibility:hidden;
}
/* 화살표 끝 */








