@font-face {
  font-family: 'S-CoreDream-9Black';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');


html {
font-family: "S-CoreDream-9Black";
font-family: 'Oswald', sans-serif;
}
body {
overflow-x:hidden;
list-style:none;
text-decoration: none;
}